.features {
}

.features__title {
    font-size: 34px;
    font-weight: 500;
    line-height: 41px;
    text-align: center;
    margin: 80px 0;
}

.features__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 60px 30px;
}

.features__item {
}

@media (max-width: 440px) {

    .offer__container {
        margin-bottom: 80px;
    }

    .features__title {
        font-size: 24px;
        margin: 40px 0;
    }

    .features__list {
        gap: 30px;
    }
}

